<div class="bootstrap-wrapper">

    <div class="container text-center mt">

       <span class="spacer">
        <h1 class="text-center">Welcome to Banking Systtem</h1>
        <a routerLink="/login" mat-raised-button color="accent" class="nxt">User login</a>
        <a routerLink="/register" mat-raised-button color="accent">User Register</a>

        <h1 class ="mmt">Welcome To Banking Services</h1>
        <h3 class="nt">
            This is a working structure of a bank.
            Following Options are available to Use:
            
        </h3><br>
        <h3>
            <p>Before Login :</p>
            -> User Register 
            -> User Login
        </h3>
        <h3>
            <p>After Login</p>
            -> Customer Details
            -> Transaction & Transaction Details
            -> TPT & TPT details
            -> Check Balance
        </h3>
       </span>
    </div>

</div>